<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.header.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="Image">
        <p></p>
        <h1>
          <a href="https://github.com/ijaysong/">{{ site.profile_info.ko_name }} ({{ site.profile_info.us_name }})</a>
        </h1>
        <p></p>
        <ul class="downloads">
          <li>
            <a href="https://ijaysong-blog.tistory.com/">
              {{ site.profile_info.ko_blog }}
              <strong>{{ site.profile_info.us_blog }}</strong>
            </a>
          </li>
          <li>
            <a href="https://github.com/ijaysong/">
              {{ site.profile_info.ko_github }}
              <strong>{{ site.profile_info.us_github }}</strong>
            </a>
          </li>
          <li>
            <address>
              <a href="mailto:ijaysong0811@gmail.com">
                {{ site.profile_info.ko_email }}
                <strong>{{ site.profile_info.us_email }}</strong>
              </a>
            </address>
          </li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>{{ site.footer.created_when }}&nbsp;&nbsp;
          <a href="https://github.com/ijaysong/">{{ site.profile_info.us_name }}</a>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
